<div class="about-section">
    <h1>About Us Page</h1>
    <p>This page was for our web dev 2 assignment.</p>
  </div>
  
  <h2 style="text-align:center">The Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Cormac McCarthy</h2>
          <p class="title">Team Member one</p>
          <p>I mainly focused on the backend to this project and looked at many different aspects involving node js and express</p>
          <p>C20341821@mytudublin.ie</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Emma Jane Power</h2>
          <p class="title">Team Member two</p>
          <p>I mainly focused on the frontend to this project </p>
          <p>C20305656@mytudublin.ie</p>
        </div>
      </div>
    </div>
  
  </div>