<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/register">Go to register page</a></li>
  </ol>
</nav>

<h1>Login</h1>
<form action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email"  class="form-control"required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<a href="/register">Register</a>